body {
    text-align: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}
.header img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
table {
    text-align: center;
    margin: 0 auto;
    width: 500px;
    height: 100px;
}
img {
    width: 300px;
    height: 200px;
    margin: 6px;
}
